@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

body{
	font: normal 400 16px 'Open Sans', sans-serif;
}
*::selection{
	background: #8ee000;
}
/*scrollbar*/
::-webkit-scrollbar-thumb {
-webkit-border-radius: 5px;
border-radius: 5px;
background-color:#8ee000;
}
::-webkit-scrollbar-thumb:hover{
background-color:#78C800;
}
::-webkit-scrollbar-thumb:active{
background-color:#68a800;
}
::-webkit-scrollbar{
width: 12px;
}
::-webkit-scrollbar:hover{
width: 14px;
}
/*preloader*/
#preloader {
	background: #FFF;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 99;
	display: flex;
	justify-content: center;
	align-items: center;
}
#status {
	background: url(../img/preloader.gif) center no-repeat;
	position: fixed;
	height: 200px;
	width: 200px;
	z-index: 98;
}



 /*Scroll Down*/

header .greeting .scroll-down {
	border: 2px solid #fff;
	border-radius: 50%;
	height: 60px;
	width: 60px;
	z-index: 10;
    text-align: center;
    margin-top: 80px;
}


/*scroll down*/
.scroll-down span{
    position: relative;
    color: #fff;
    font-size: 30px;
	animation: drop 1.2s linear 0s infinite running;
}

@keyframes drop	{
	0%   { top:0px;  opacity: 0;}
	30%  { top:10px; opacity: 1;}
	100% { top:25px; opacity: 0;}
}







/*header*/
header{
	position: relative;
	background: #222 url(../img/top_bg.jpg) center no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
}
header .over{
	background-color: rgba(00, 00, 00, 0.4); */
    background-image: url(../images/pattern.png) repeat;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    color: #fff;
}
header .greeting{
	text-align: center;
	height: 100%;
	display: grid;
	justify-items: center;
	align-items: center;
	align-content: center;
}
.greeting h1, .greeting p{
	margin: 0;
}
header .greeting p{
	font: italic 300 20px 'Open Sans', sans-serif;
}
header .greeting h1{
	margin: 15px 0;
	letter-spacing: 5px;
	line-height: 1;
	font: 600 40px 'Open Sans', sans-serif;
}

/*main*/
main{
	background: #f5f5f5;
}
main h2{
	letter-spacing: 5px;
	line-height: 1;
	font: 600 26px 'Open Sans', sans-serif;
	color: #000;
	text-align: center;
}
main h2:after{
	content: '';
	display: block;
	background: #BEBEBE;
	width: 100px;
	height: 1px;
	margin: 30px auto;
}
main span{
	color: #007BFF;
	font-size: 18px;
	font-weight: 600;
}
main span i{
	margin-right: 10px;
}
main h3{
	color: #007BFF;
	font-weight: 600;
}
/*navbar*/
main .navbar{
	-webkit-position: sticky;
	position: sticky;
	top: 0;
	background: #fffff5;
	z-index: 10;
}
.navbar .navbar-brand{
	font:normal 700 22px "Open Sans", sans-serif;
	color:#024;
}
.navbar .navbar-brand strong{
	font:normal 800 28px "Open Sans", sans-serif;
	color:#8EE000;
}
/*skills*/
.skills{
	padding: 100px 0;
}
.skills .icons{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.skills i{
	border: 2px solid #333;
	margin:40px 10px 0;
	color: #333;
	font-size: 50px;
	width: 70px;
	height: 70px;
	text-align: center;
	line-height: 70px;
	cursor: pointer;
	transition: all .2s;
}
.skills i:nth-child(1):hover{
	color: #E44D26;
}
.skills i:nth-child(2):hover{
	color: #1572B6;
}
.skills i:nth-child(3):hover{
	color: #F04F33;
}
.skills i:nth-child(4):hover{
	color: #553C7B
}
.skills i:nth-child(5):hover{
	color: #DA4648;
}
.skills i:nth-child(6):hover{
	color: #CD6799;
}
/*works*/
.works{
	padding: 100px 0;
	text-align: center;
	background: #fff;
	font:normal 800 24px "Open Sans", sans-serif;
}
.works .container{
	display: grid;
		grid-template-columns: minmax(auto, 300px)  minmax(auto, 300px);
	grid-gap: 80px;
	justify-content: center;
	align-items: center;
}
.works .container a{
	position: relative;
	background: #014;
	box-shadow: 0 0 10px #444;
}
.works .container a:hover{
	box-shadow: 0 0 25px #4a4a4a;
}
.works .container img{
	opacity: .8;
	max-width: 300px;
	min-width: 200px;
	transition: all .3s;
}
.works .container a:hover img{
	opacity: .4;
}

.works .container a h3{
	position: absolute;
	right: 50%;
	top: 20%;
	transform: translateX(50%);
	text-transform: uppercase;
	font: normal 600 50px "Open Sans", sans-serif;
	letter-spacing: 3px;
	color: #fff;
	opacity: 0;
	transition: all .4s;
}

.works .container a:hover h3{
	font: normal 600 30px "Open Sans", sans-serif;
	opacity: 1;	
	top: 40%;
}

.works .container a i{
	position: absolute;
	right: 10%;
	top: 10%;
	font-size: 40px;
	color: #fff;
	opacity: 0;
	transition: all .4s;
}
.works .container a:hover i{
	opacity: 1;
}
/*contacts*/
.contacts{
	padding: 100px 0;
	background: #F5F5F5;
}

.contacts .grid{
	display: grid;
	grid-template-columns: 250px 400px;
	justify-content: center;
	grid-gap: 40px;
}
.about p a {
	color: #000;
}

.about p a i{
	color: #013;
	font-size: 24px;
	margin: 0 0 0 5px;
	transition: all .2s;
}
.contacts img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	box-shadow: 5px 5px 10px #888;
}
/*footer*/
footer{
	background: #222;
}
footer p{
	color:#fff;
}
footer .social_networks{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
footer .social_networks a{
	color: #ddd;
	min-width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	margin-bottom: 15px;
	border: 1px solid #ddd;
	opacity: .5;
	transition: all .3s
}
footer .social_networks a:hover{
	opacity: 1;
}

/*mediaQueries*/
@media screen and (-webkit-min-device-pixel-ratio: 2){
	header{
		background-attachment: scroll;
		background-size: cover;
		-webkit-background-size: cover;
	}
}
@media screen and (max-width: 767px){
	 .works .container{
		display: grid;
		grid-gap: 50px;
		grid-template-columns: minmax(auto, 300px);
	}
	.contacts .grid{
		display: grid;
		grid-gap: 20px;
		grid-template-columns: auto;
		text-align: center;
		justify-content: center;
	}
	.contacts .grid p{
		text-align: left;
	}
}
