@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/* font-family: 'Open Sans', sans-serif; */

@font-face{
	font-family: 'segoe wp black';
	src: url('segoe-wp-black.ttf');
} 
@font-face {
    font-family: 'New Athena Unicode';
    src: local('New Athena Unicode'), local('NewAthenaUnicode'), url('newathenaunicode.woff2') format('woff2'), url('newathenaunicode.woff') format('woff'), url('newathenaunicode.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face{
	font-family: 'StRyde Regular';
	src: url('StRyde-Regular.otf');
} 

@font-face{
	font-family: 'segoe WP Light';
	src: url('segoe-wp-light.ttf');
} 
