/*fonts*/
@import url('fonts/fonts.css');

*{
	font-family: 'Open Sans', sans-serif;
}
.container{
	max-width: 1170px; 
}
/*title*/
.titles h3{
	font:normal 700 30px 'Oswald', sans-serif;
	padding: 26px 0 40px;
	margin-bottom: 0;
}
/*top line*/
.contact-info{
	margin: 10px 0 10px 23px;
	padding: 0 15px;
}
.contacts{
	display: flex;
}
.contacts p{
	line-height: 24px;
	font-size: 13px;
	margin-bottom: 0;
}
.social_networks a{
	border-radius: 50%;

	width: 24px;
	height: 24px;
}
.social_networks a i{
	line-height: 24px;
	font-size: 13px;
}
/*navigation*/
.nav-link{
	white-space: nowrap;
	font-size: 14px;
}
.intro{
	padding: 0;
	background: url(../img/intro.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.intro .navbar{
	background: rgba(0,49,113,.49);
	box-shadow: 0 -3px 10px #aaa, 0 1px 5px rgba(0,49,113);
}
.navbar-brand{
	margin-left: 25px;
	font-size: 24px;
	padding: 8.5px 0;
}
.intro nav ul{
	max-width: 860px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.intro nav ul a{
	padding-right: 0 !important;
	padding-left: 0 !important;
	transition: all .5s;
}
/*intro*/
.slogan h1{
	color: #ecf0f1;
	font: normal 800 60px 'Poppins', sans-serif;
	line-height: 72px;
	margin: 98px 0 68px;
}
.downlond-app{
	margin-bottom: 145px;
}
.downlond-app button{
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin: 0 27px 0 0;
	border-radius: 10px;
}
.downlond-app button i,
.downlond-app button img{
	width: 32px;
	font-size: 32px;
	margin-right: 20px;
}
.downlond-app button span{
	font-size: 12px;
	line-height: 14px;
	text-align: left;
	margin-right: 15px;
}
.itro_phone{
	position: absolute;
	right: 0px;
	padding-right: 40px;
	margin-top: 60px;
}
/*features*/
.features_content .grid_container{
	display: grid;
	grid-template-columns: minmax(auto, 301px) minmax(auto, auto) minmax(auto,301px);
	grid-template-rows: 150px auto;
	grid-column-gap: 75px;
	justify-content: center;
	margin-bottom: 55px;
}
.features_content .grid_container .grid_img{
	grid-row: 1 / 3;
	grid-column: 2 / 3;
}
.features_content .grid_container .grid_img img{
	max-width: 216px;
	width: 100%;
}
.features_content .grid{
	display: grid;
	grid-template-columns: minmax(auto,72px) 201px;
	grid-template-rows: 48px;
	grid-column-gap: 28px;
}
.features_content .grid img{
	grid-row:1 / 3;
}
.features_content .grid-right{
	grid-template-columns: 201px minmax(auto,72px);
	justify-content: end;
	text-align: right;
}
.features_content .grid-right img{
	grid-row:1 / 3;
	grid-column: 2 /3;
}
.features_content .grid-right h4:after{
	margin-left: auto;
}
.features_content h4{
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}
.features_content h4:after{
	content: '';
	display: block;
	width: 70px;
	height: 1px;
	background: #000;
	margin-top: 5px;
}
.features_content p{
	font-size: 14px;
	color: #91a5a3;
	font-family: 'Roboto', sans-serif;;
}
/*fuuture*/
.future{
	background: url(../img/bg_future.jpg);
	background-size: cover;
}
.future .grid_container{
	margin-left: 55px;
	padding: 80px 0;
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 52px;
}
.future .grid{
	display: grid;
	grid-template-rows: 42px 64px 50px 32px; 
	align-content: center;
	color: #fff;
}
.future .grid h4{
	font: 30px 'Lato', sans-serif;
	margin-bottom: 16px;
}
.future .grid h4:after{
	content: '';
	display: block;
	width: 70px;
	height: 1px;
	background: #fff;
	margin-top: 4px;
}
.future .grid p{
	font-size: 14px;
}
.future .grid_container img{
	width: 100%;
	max-width: 300px;
}

/*galery / screenshots*/
.galery.container{
	margin-bottom: 100px;
}
.galery .grid{
	display: grid;
	grid-gap: 3px;
}
.galery .content{
	grid-template-columns:  296fr 435fr 404fr;
}

.galery .center_grid{
	grid-template-columns: repeat(2, auto);
}
.galery .center_grid img:last-child{
	grid-column: 1/3;
}
.galery img:hover{
	opacity: .8;
}
/*.galery .right_grid{}*/

/*video*/
.video{
	background: #eee;
}
/*"first ever app" block / services*/

.first_ever_app .grid{
	margin: 0 auto;
	display: grid;
	justify-content: space-between;
	width: 100%;
	max-width: 980px;
	grid-template-columns: repeat(2, 220px 1px)  220px;
	align-items: center;
	margin-top: 13px;
}
.first_ever_app .grid .stick{
	background: #000;
	height: 167px;
}
.first_ever_app .grid .box{
	display: grid;
	grid-template-rows: 130px 47px 87px;
	justify-items: center;
	color: #6c8784;
	font: 14px 'Roboto', sans-serif;
}
.first_ever_app .grid .box h4{
	font-size: 18px;
	color: #000;
}
.first_ever_app .grid .box h4:after{
	content: '';
	display: block;
	width: 70px;
	height: 1px;
	background: #000;
	margin: 0 auto;
	margin-top: 2px;
}
/*statistic*/
.statistic{
	background: url(../img/bg_future.jpg);
	background-size: cover;
}
.statistic .grid{
	margin: 0 auto;
	display: grid;
	justify-content: space-between;
	align-items: center;
	grid-template-columns: repeat(3, auto 1px) auto;
	grid-gap: minmax(20px,60px);
	max-width: 940px;
	width: 100%;
}
.statistic .grid .stick{
	background: #fff;
	height: 130px;
	margin: 35px 0;
}
.statistic .grid .stat{
	display: grid;
	grid-template-rows: 100px 30px;
	align-items: center;
	color: #fff;
	font: normal 18px 'Poppins', sans-serif;
}
.statistic .grid .stat h3{
	font: normal 72px 'Lato', sans-serif;;
}
/*testimonials*/
.testimonials{
	background: #eee;
	padding: 0px;
}
.testimonials .carousel-indicators li{
	width: 18px;
	height: 18px;
	border-radius: 50px;
	border: 2px solid #293d85; 
	background: none;
	opacity: 1;
	box-sizing: border-box;
	margin-bottom: 50px;
}
.testimonials .carousel-indicators .active{
	background: #293d85;
	outline: 1;
}
.testimonials .carousel .carousel-item .grid{
	background: url(../img/bg_testimonials.png) center no-repeat;
	max-width: 865px;
	width: 100%;
	height: 290px;
	margin: 0 auto 100px;
	display: grid;
	grid-template-columns: 220px minmax(auto, 532px);
	grid-gap: 5px;
}
.testimonials .carousel .carousel-item .photo{
	justify-self:end;
	align-self: center;
}
.testimonials .carousel .carousel-item .testimonial{
	display: grid;
	grid-template-rows: 81px auto auto 50px;
}
.testimonials .testimonial i{
	font-size: 60px;
	color: #1d61c0;
	align-self: end;
	margin-bottom: 0;
}
.testimonials .testimonial .response{
	font: normal 14px "Roboto", sans-serif;
	color: #fff;
	justify-content: center;
	text-align: center;
	margin:18px 15px 40px 37px ;
}
.testimonials .testimonial h5{
	font: normal 700 14px "Roboto", sans-serif;
	text-align: center;
	color: #fff;
}
.testimonials .testimonial h5:after{
	content: '';
	display: block;
	background: #fff;
	width: 72px;
	height: 1px;
	margin: 0 auto;
}
.testimonials .testimonial .status{
	font: italic 14px "Roboto", sans-serif;
	text-align: center;
	color: #fff;
}



/*our team*/
.who_we_are .team{
	margin: 0 auto;
	max-width: 1015px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	justify-content: space-between;
}
.who_we_are .person{
	max-width: 272px;
	 margin-bottom: 60px;
	 font: normal 14px 'Poppins', sans-serif;
}
.who_we_are .person h5{
	font-size: 18px;
	color: #000;
	margin: 30px 0 10px;
}
.who_we_are .person h5:after{
	content: '';
	display: block;
	width: 70px;
	height: 1px;
	background: #000;
	margin: 0 auto;
	margin-top: 2px;
}
.who_we_are .person p{
	font-size: 14px;
	color: #6c8784;
	margin-bottom: 22px;
}
.who_we_are .person a{
	width: 32px;
	height: 32px;
}
.who_we_are .person i{
	line-height: 32px;
	font-size: 16px;
}
/*partners*/
.our_partners{
	background: #eee;
}
.our_partners .logos{
	width: 100%;
	max-width: 870px;
	display: grid;
	justify-content: space-between;
	grid-template-columns: auto auto auto auto; 
	align-items: center;
	padding: 0 0 65px;
	margin: 0 auto;
}
.our_partners .logos img{
	padding-top: 18px;
	margin-right: 15px;
	margin-left: 15px;
}
/*price*/
.pricing .grid{
	margin: 0 auto;
	max-width: 940px;
	width: 100%;
	display: grid;
	justify-content: space-between;
	grid-template-columns: repeat(3, 301px);
	grid-gap: 17px;
	align-items: end;
}
.pricing .grid .block{
	display: grid;
	margin-bottom: 62px;
	align-items: end;
	border: 1px solid #174f9c;
	grid-template-rows: 62px 126px 77px 53px 33px 125px; 
}
.pricing .grid .block .top{
	color: #fff;
	background: #3271bf;
}
.pricing .grid .block .top h3{
	line-height: 62px;
	font-size: 18px;
	margin-bottom: 0;
}
.pricing .grid .block .price{
	height: 100%;
	display: grid;	
	grid-template-rows: 84px 18px;
	color: #fff;
	background: linear-gradient(90deg, #4d89cb 0%, #2578c1 50%, #4d89cb 100%);
	background: -webkit-linear-gradient(90deg, #4d89cb 0%, #2578c1 50%, #4d89cb 100%);
	clip-path: polygon(0% 0%, 0% calc(100% - 62px),50% 100%, 100% calc(100% - 62px), 100% 0%);
	-ms-clip-path: polygon(0% 0%, 0% calc(100% - 62px),50% 100%, 100% calc(100% - 62px), 100% 0%);
	-o-clip-path: polygon(0% 0%, 0% calc(100% - 62px),50% 100%, 100% calc(100% - 62px), 100% 0%);
	-moz-clip-path: polygon(0% 0%, 0% calc(100% - 62px),50% 100%, 100% calc(100% - 62px), 100% 0%);
	-webkit-clip-path: polygon(0% 0%, 0% calc(100% - 62px),50% 100%, 100% calc(100% - 62px), 100% 0%);
}
.pricing .grid .block .price h2{
	position: relative;
	font: normal 700 60px "Open Sans", sans-serif;
	margin-bottom: 0;
	align-self: center;
}
.pricing .grid .block .price h2 sup{
	position: absolute;
	top: 12px;
	left: 115px;
	font: normal 300 24px 'Oswald', sans-serif;
}
.pricing .grid .block .price p{
	font: normal 300 18px 'Open Sens', sans-serif;
	line-height: 1;
}
.pricing .grid .block span:after{
	content:"";
	display: block;
	margin: 0 auto;
	width: 290px;
	height: 1px;
	background: #174f9c;
	margin-top: 18px;
}
.pricing .grid .block span{
	align-self: end;
	font-size: 14px;
}
.pricing .grid .block span:last-of-type::after{
	display: none;
}
.pricing .grid .block:last-child .price h2 sup{
	top: 12px;
	left: 100px;
}

.pricing .grid .block:nth-child(2){
	grid-template-rows: 62px 194px 77px 53px 33px 125px; 
	box-shadow: 0 10px 30px #cccccc
}
.pricing .grid .block:nth-child(2) .top{
	background: linear-gradient(90deg, #184a8d 0%, #2962aa 50%, #184a8d 100%);
	background: -webkit-linear-gradient(90deg, #184a8d 0%, #2962aa 50%, #184a8d 100%);
}
.pricing .grid .block:nth-child(2) .price{
	grid-template-rows: 115px 18px;
	background: linear-gradient(90deg, #3f71a3 0%, #1c639b 50%, #3f71a3 100%);
	background: -webkit-linear-gradient(90deg, #3f71a3 0%, #1c639b 50%, #3f71a3 100%);
	clip-path: polygon(0% 0%, 0% calc(100% - 95px),50% 100%, 100% calc(100% - 95px), 100% 0%);
	-ms-clip-path: polygon(0% 0%, 0% calc(100% - 95px),50% 100%, 100% calc(100% - 95px), 100% 0%);
	-o-clip-path: polygon(0% 0%, 0% calc(100% - 95px),50% 100%, 100% calc(100% - 95px), 100% 0%);
	-moz-clip-path: polygon(0% 0%, 0% calc(100% - 95px),50% 100%, 100% calc(100% - 95px), 100% 0%);
	-webkit-clip-path: polygon(0% 0%, 0% calc(100% - 95px),50% 100%, 100% calc(100% - 95px), 100% 0%);
}
.pricing .grid .block a{
	background: #26679e;
	width: 120px;
	height: 40px;
	font-size: 18px;
	border-radius: 8px;
	-ms-align-self: center;
	align-self: center;
	justify-self: center; 
}
.pricing .grid .block a:hover{
	background: #1c517e;
}
/*footer block*/
.footer_nav{
	background: #0f62a8;
	color: #fff;
	font-size: 14px;
}
.footer_nav a{
	font-size: 14px;
	color: #fff;
}
.footer_nav .grid{
	display: grid;
	grid-template-columns: repeat(4, auto);
	justify-content: space-between;
	padding: 54px 15px;
	margin: 0 auto;
}
.footer_nav .grid .block{
	display: grid;
	margin: 0 auto;
	line-height: 1;
}
.footer_nav .grid .block p i{
	margin-right: 24px;
}
.footer_nav .grid .block:nth-child(1){
	width: 300px;
	grid-template-rows: 44px 30px 44px 30px;
}
.footer_nav .grid .block:nth-child(2){
	width: 135px;
	grid-template-rows: 44px repeat(3, 29px) 15px;
}
.footer_nav .grid .block:nth-child(3){
	width: 202px;
	grid-template-rows: 44px 26px 40px;
}
.footer_nav .grid .block:nth-child(4){
	width: 230px;
	grid-template-rows: 44px repeat(2, 30px);
}
.footer_nav .grid .block h5{
	font: normal 600 18px 'Open Sans', sans-serif;
}
.footer_nav .grid .block h5:after {
	content: '';
	display: block;
	width: 22px;
	background: #fff;
	height: 1px;
}
.footer_nav .grid .block input[type="email"]{
	width: 200px;
	background: none;
	color: #fff;
	border: none;
	border-bottom: 1px solid #fff;
}
.footer_nav .grid .block input[type="email"]::placeholder{
	color: #fff;
}
.footer_nav .grid .block input[type="email"]:focus{
	border-bottom: 3px solid #fff;
}
.footer_nav .grid .block input[type="submit"]{
	justify-self: end;
	background: none;
	color: #fff;
	border: none;
	margin-top: 18px;
}
.bottom{
	background: #1c4e8c;
	color: #fff;
	font-size: 14px;
	height: 61px;
}
.bottom p{
	line-height: 61px;
	margin: 0;
	padding-left: 15px;
}

/*media queries*/
@media screen and (max-width:992px){
	/*intro*/
	.downlond-app{
		margin-bottom: 0;
		justify-content: center;
	}
	.itro_phone{
		position: relative !important;
		padding: 0;
		right: 0;
		margin: 0 0;
	}
	/*features*/
	.features_content .grid_container{
		grid-template-columns: 1fr 1fr;
	}
	.features_content .grid_container .grid_img{
		display: grid;
		align-items:center;
		grid-row: 1 / 6;
		grid-column: 2 / 3;
	}
	/*future*/
	.future .grid{
		grid-template-rows: auto; 
	}
	/*footer block*/
	.footer_nav .grid{
		grid-template-columns: repeat(2, auto);
		justify-content: center;
		grid-gap: 20px;
	}
	.footer_nav .grid .block{
		padding:: 50px 0;
		margin: 0;
	}
	/*price*/
	.pricing .grid{
		justify-content: center;
		grid-template-columns: 301px;
	}

}
@media screen and (max-width:767px){
	/*future*/
	.future .grid_container img{
		margin-bottom: 30px;
		justify-self: center;
	}
	.future .grid_container{
		margin-left: 0px;
		padding: 80px 0;
		display: grid;
		grid-template-columns: auto;
	}
	/*galery / screenshots*/
	.galery .content{
		grid-template-columns:  296fr 435fr;
	}
	.galery .right_grid{
		grid-column: 1 / -1;
	}
	/*statistic*/
	.statistic .grid{
		grid-template-columns: auto 1px auto;
		justify-items:center;
	}
	/*services*/
	.first_ever_app .grid{
		justify-content: center;
		grid-template-columns: 220px;
		margin: 0 auto;
	}
	.first_ever_app .grid .box{
		width: 220px;
	}
	/*to hide some sticks from statistic block and services block*/
	.statistic .grid .stick:nth-child(4),
	.first_ever_app .grid .stick{
		display: none;
	}
	/*testimonials*/
	.testimonials .carousel .carousel-item .grid{
		background-size: cover;
		height: auto;
		grid-template-columns: minmax(auto, 532px);
		grid-template-rows: 160px auto;
		justify-content: center;
	}

	.testimonials .carousel .carousel-item .photo{
		justify-self:center;
		align-self: end;
	}
.testimonials .testimonial i{
	margin-left: 20px;
}
.testimonials .testimonial .response{
	font: normal 14px "Roboto", sans-serif;
	color: #fff;
	justify-content: center;
	text-align: center;
	margin:18px 15px 40px 15px ;
}
	/*partners*/
	.our_partners .logos{
		grid-template-columns: auto auto; 
		justify-content: center;
	}
}

@media screen and (max-width:576px){
	/*features*/
	.features_content .grid_container{
		grid-template-columns: 1fr;
	}
	.features_content .grid_container .grid_img{
		display: none;
	}
	/*galery / screenshots*/
	.galery .content{
		grid-template-columns:  auto;
	}
	/*our team*/
	.who_we_are .team{
		grid-template-columns: 1fr;
	}
	.who_we_are .team .person{
		display: grid;
		margin: 0 auto 60px;
	}
	/*statistic*/
	.statistic .grid{
		grid-template-columns: auto;
		justify-content: space-around;
	}
	.statistic .grid .stick{
		display: none;
	}
	.statistic .grid .stat{
		margin: 20px 0;
	}
	/*footer block*/
	.footer_nav .grid{
		grid-template-columns: repeat(1, auto);
	}	
}

@media screen and (max-width:428px){
	/*top block*/
	.contact-info{
		justify-content: center !important;
	}
	/*partners*/
	.our_partners .logos{
		grid-template-columns: auto; 
	}
}
@media screen and (max-width:400px){
	/*intro*/
	.downlond-app button{
		margin-bottom: 30px;
	}
}