*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
body{
	font-family: 'Open Sans', sans-serif;
}
.markers{
	position: fixed;
	bottom: 30px;
	left: 50%;
	z-index: 999;
	background: #22222288;
	transform: translateX(-50%);
}
.markers a{
	font-size: 50px;
	font-weight: 800;
	color: #fff;
	padding: 7px;
	transition: all .3s;
}
.markers a:hover{
	text-decoration: none;
	background: deepskyblue;
}

header{
	width: 100%;
	background: #000;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.header_logo{
	text-transform: uppercase;
	color: #fff;
	font-size: 24px;
	cursor: pointer;
	font-weight: 800;
	margin-top: 56px;
	margin-left: 12%;
}
nav{
	margin-top: 56px;
	margin-left: 19%;
}
nav .topnav a{
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	padding: 12px 16px;
	font-weight: bold;
	font-size: 14px;
}
nav .topnav{
	margin-bottom: 15px;
}
nav .topnav a:hover{
	border-bottom: 3px solid #fcac45;
}
.topnav .icon{
	display: none;
}
main{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	width: 100%;
}
main .main_welcome{
	background: #000;
	text-align: center;
	padding: 190px 0 410px 0;
}
main .main_welcome p{
	color: #999;
	font-size: 20px;
}
main .main_welcome h1{
	text-transform: uppercase;
	color: #999;
	font-weight: 100;
	font-size: 44px;
	font-family: 'Open Sans Light', 'Open Sans', sans-serif;
}
main .main_welcome h1:after{
	display: none;
}
main .main_welcome .mycompany{
	color: #fcac45;
	font-weight: 900;
	font-family: 'Open Sans', sans-serif;
}
main .main_welcome .slogan{
	font-weight: 900;
}
.wraper{
	width: 80%;
	margin: 0 auto;
}
main .main_about{
	padding: 100px 0 100px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
main .right_about{
	margin-left: 15%;
}
main .right_about h1{
	display: inline-block;
	border-bottom: 3px solid #fcac45;
	padding-bottom: 20px;
	text-transform: uppercase;
}
main .right_about h1:after{
	display: none;
}
main .right_about p{
	margin: 30px 0 40px 0;
	color: #6c6c6c;
}
main .right_about li{
	list-style-image: url('img/list.png');
	padding:0 0 10px 5px;
}
main .right_about li .stLi{
	font-style: italic;
	color: #6c6c6c;
}
main .right_about .title{
	color: #6c6c6c;
}
.main_team{
	background: #000;
	text-align: center;
	padding: 100px 0 150px 0;
	color: #fff;
}
.main_team h1{
	font-size: 44px;
	text-transform: uppercase;
	padding: 30px;
}

h1:after{
	content: '';
	display: block;
	margin: 0 auto;
	width: 100px;
	padding-top: 30px;
	border-bottom: 3px solid #fcac45;
}

.photo{
	background: #d7d7d7;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin: 20px auto;
}
.team_cards{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.card{
	margin: 0 20px;
}
.name{
	font-size: 20px;
	margin-bottom: 7px;
	font-weight: bold;
}
.position{
	font-size: 14px;
	margin-bottom: 30px;
	font-weight: 100;
}
.about_position{
	font-size: 14px;
	font-weight: 100;
}
.services_cards{
	text-align: center;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 20px;
}
.main_services h1{
	font-size: 44px;
	font-weight: bold;
	padding: 100px 0 30px 0;
	text-transform: uppercase;
	text-align: center;
}
.main_services p{
	color: #6c6c6c;
	font-style: italic;
	margin-bottom: 100px;
}
.services_cards h4{
	text-transform: uppercase;
	margin: 20px 0 15px 0;
}
.main_clients{
	background: #000;
	color: #fff;
	padding: 100px 0 200px 0;
	text-align: center;
}
.main_clients h1{
	font-size: 44px;
	font-family: 'Open Sans Light', 'Open Sans', sans-serif;
	font-weight: 100;
	margin-bottom: 30px;
}
.main_clients h1 span{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
.main_clients img{
	margin: 10px 20px 0 0;
}
.main_clients img:hover{
	opacity:0.7;
}






.main_testamonitals{
	background: #000;
	color: #fff;
	text-align: center;
	padding-bottom: 170px;
}
.main_testamonitals h1{
	font-size: 44px;
	font-weight: bold;
	margin: 100px 0 30px 0;
	text-transform: uppercase;
}
.main_testamonitals .coment{
	text-transform: uppercase;
	margin-bottom: 50px;
}
.main_testamonitals h1 span{
	font-family: 'Open Sans Light','Open Sans', sans-serif;
	font-weight: 100;
}
.main_testamonitals p span{
	font-family: 'Open Sans Light','Open Sans', sans-serif;
	font-weight: 100;
}
.main_work{
	text-align: center;
}
.main_work h1{
	font-size: 44px;
	font-weight: bold;
	margin: 100px 0 30px 0;
	text-transform: uppercase;
}
.main_work h1 span{
	font-family: 'Open Sans Light','Open Sans', sans-serif;
	font-weight: 100;
}
.main_work p{
	color: #6c6c6c;
	font-style: italic;
	margin-bottom: 175px;
}
.main_work .galery{
	padding-bottom: 70px;
}
.main_work .galery img{
	margin: 0 0px 0px 0;
	max-width: 100%
}
.main_work .galery img:hover{
	opacity: 0.9;
}
.contact_form h1{
	color: #000;
	font-size: 44px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin: 100px 0 30px 0;
}
.contact_form .description{
	font-style: italic;
	text-align: center;
	margin-bottom: 100px;
}
.contact_wraper{
	width: 750px;
	margin: 0 auto;
	color: #6c6c6c;
}
.red{
	color: #f00;
}
.form_inputs{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
input, textarea{
	border: 1px solid #999;
	margin: 5px 0 30px 0;
}
input{
	width: 360px;
	height: 40px;
}
.form_inputs input:first-of-type{
	margin-right: 23px;
}
textarea{
	width: 100%;
	height: 160px;
}
.button_block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
}
input[type=submit]{
	width: 165px;
	height: 40px;
	background: #fcac45;
	color: #fff;
	margin-bottom: 100px;
}
.wrap_jnp{
	flex-direction: column;
}
footer{
	background: #222222;
}
footer .wraper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
footer img{
	margin: 30px 7px;
}
footer img:hover{
	opacity: 0.7;
}










@media screen and (max-width:1200px){
	nav{
		margin-left: 15%;
	}
	.line1 img:nth-child(4), .line2 img:nth-child(4), .line3 img:nth-child(4){
		display: none;
	}
}
@media screen and (max-width:1110px){
	nav{
		margin-left: 10%;
	}
	.line1 img:nth-child(3), .line2 img:nth-child(3), .line3 img:nth-child(3){
		display: none;
	}
}
@media screen and (max-width:1010px){

	nav .topnav a{
		display: none;
	}
	.topnav .icon{
		color: #fff;
		font-size: 25px;
		margin-top: -17px;
		float: right;
		display: block;
	}
	nav {
		width: 100%;
	}
	.topnav.responsive{
		position: relative;
		top: 50px;
		left: -200px;
		height: 340px;
	}
	.topnav.responsive a.icon{
		position: absolute;
		top: -50px;
		right: -200px;
	}
	.topnav.responsive a{
		text-align: left;
		float: none;
		display: block;
	}

	main .main_welcome{
		padding: 50px 0 50px 0;
	}
	main .main_welcome p{
		font-size: 14px;
	}
	main .main_welcome h1{
		font-size: 25px;
	}
	.main_about{
		flex-direction: column;
	}
	.left_about img{
		max-width: 100%;
		width: 100%
	}
	.right_about{
		margin: 0;
	}
	.right_about h1{
		font-size: 20px;
		margin-top: 25px;
	}
	.team_cards{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.photo{
		margin-top: 30px;
	}
	.services_cards{
		grid-template-columns: auto;
	}
	.line1 img:not(:first-child), .line2 img:not(:first-child), .line3 img:not(:first-child){
		display: none;
	}
}

@media screen and (max-width: 850px){
	.form_inputs{
		flex-direction: column;
	}
	textarea{
		width: 100%;
	}
	.contact_wraper{
		width: 70%;
	}
}
@media screen and (max-width: 850px){
	.form_inputs input:first-of-type {
		margin-right: 0;
	}
	input{
	width: 100%;
	}
}
