@font-face{
	font-family: 'Segoe WP';
	src: url(fonts/SegoeWPN.ttf);
}
@font-face{
	font-family: mrsEaves;
	src: url(fonts/MrsEavesItalic_Italic.ttf);
}
@font-face {
	font-family:'universCE';
	src:url(fonts/Univers-CE-45-Light.ttf);
}