.card .card-image .card-title {
  background: #00000099;
  width: 100%;
}
.newsContainer .news-field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: dense;
}

.progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .select-wrapper input.select-dropdown {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .select-wrapper {
    position: relative;
  }
  .select-wrapper select {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {
  .newsContainer .news-field {
    grid-template-columns: 1fr;
  }
}
